<app-navbar></app-navbar>

<section class="vh-100 bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="inputFN" placeholder="First Name" [(ngModel)]="inputFN" class="form-control form-control-lg">
                  <label class="form-label" for="form3Example1cg">First Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example2cg" name="inputLN" placeholder="Last Name" [(ngModel)]="inputLN" class="form-control form-control-lg">
                  <label class="form-label" for="form3Example2cg">Last Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" name="inputEM" placeholder= "youremail@email.com" [(ngModel)]="inputEM" class="form-control form-control-lg">
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="test" id="form3Example4cg" name="inputDob" placeholder= "XX/XX/XXXX" [(ngModel)]="inputDob" class="form-control form-control-lg">
                  <label class="form-label" for="form3Example4cg">DOB</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example5cg" name="inputUN" placeholder= "Something Fun" [(ngModel)]="inputUN" class="form-control form-control-lg">
                  <label class="form-label" for="form3Example5cg">Username</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="form3Example6cg" name="inputPW" placeholder= "Something Strong" [(ngModel)]="inputPW" class="form-control form-control-lg">
                  <label class="form-label" for="form3Example6cg">Password</label>
                </div>

                <div class="alert"  *ngIf="failBox" id="failed" name="failBox" [hidden]="failBoxTag">
                  <h2 *ngIf="greeterDiv">Login Failed: {{regFail}}</h2>
                </div>

                <div class="alert" *ngIf="sucBox" id="success" name="sucBox" [hidden]="sucBoxTag">
                  <h2 *ngIf="greeterDiv2">Creation Successful, {{inputUNTemp}}</h2>
                  <a class="nav-link" routerLink="/">Home</a>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" (click)="getUserInfoFReg()" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>



              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
