<div class="d-flex justify-content-center container mt-5">
    <div class="card p-3 bg-white">
      <div class="about-product text-center mt-2"><img src="../../../assets/cocktail-placeholder.jpeg">
        <div>
          <h2>This is my drink name</h2>
        </div>
      
      </div>
      <div class="stats mt-2">
        <div class="d-flex justify-content-between"><span>Ingredient 1</span><span>Measurement 1</span></div>
        <div class="d-flex justify-content-between"><span>Ingredient 2</span><span>Measurement 2</span></div>
        <div class="d-flex justify-content-between"><span>Ingredient 3</span><span>Measurement 3</span></div>
      </div>
      <div>
        <p class="d-flex justify-content-center">
          This is where I am going to put the instructions for making the drink
        </p>
      </div>
    </div>
  
  
  
  </div>
