<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- JDBC -->
		<property name="hibernate.connection.username">postgres</property>
		<!-- password -->
		<property name="hibernate.connection.password">password</property>
		<!-- jdbc:postgresql://{host}[:{port}]/[{database}] -->
		<property name="hibernate.connection.url">jdbc:postgresql://35.245.118.231:5432/postgres?currentSchema=cocktail</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<!-- Hibernate Properties -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">cocktail</property>
		<!-- Hibernate console output -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- DDL -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		<!-- Anyone remember what setting our hbm2ddl.auto to create will do? -->


		<mapping class="com.revature.models.User"/> 
		<mapping class="com.revature.models.Cocktail"/>
		<mapping class="com.revature.models.Favorite"/> 
		<mapping class="com.revature.models.Review"/> 


	</session-factory>
</hibernate-configuration>