<app-navbar></app-navbar>

<div class="container py-5">
    <div class="row">
      
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="../../../assets/cocktail-placeholder.jpeg" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 id= "name" class="my-3">Hello {{fName}}</h5>
            <p class="text-muted mb-1">Certified Mixologist</p>
           
            
          </div>
        </div>
      
      </div>
     
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p id=name class="text-muted mb-0">{{fName}} {{lName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">DOB</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{dob}}</p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
              <button id="testingImgBut" class="btn btn-secondary" style="margin-right: .5em;"(click)="getFavorites()">Favorite Drinks</button>
              <button id="testingImgBut" class="btn btn-secondary"(click)="getReviews()">Drink Reviews</button>
            </div>
            </div>

            
          </div>
        </div>
       <div class="row">
           <div class="col-md-6">
            <div class="card mb-4 bg-white" *ngIf= "cocktail1">
                <div class="card-body text-center mt-2"><img src={{cocktail1.drinks[0].strDrinkThumb}} style="height: 225px; width: 100%; display: block;">
                  <div>
                    <h2>{{cocktail1.drinks[0].strDrink}}</h2>
                  </div>
                
                </div>
                <div class="stats mt-2">
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient1}}</span><span>{{cocktail1.drinks[0].strMeasure1}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient2}}</span><span>{{cocktail1.drinks[0].strMeasure2}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient3}}</span><span>{{cocktail1.drinks[0].strMeasure3}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient4}}</span><span>{{cocktail1.drinks[0].strMeasure4}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient5}}</span><span>{{cocktail1.drinks[0].strMeasure5}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient6}}</span><span>{{cocktail1.drinks[0].strMeasure6}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient7}}</span><span>{{cocktail1.drinks[0].strMeasure7}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient8}}</span><span>{{cocktail1.drinks[0].strMeasure8}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient9}}</span><span>{{cocktail1.drinks[0].strMeasure9}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient10}}</span><span>{{cocktail1.drinks[0].strMeasure10}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient11}}</span><span>{{cocktail1.drinks[0].strMeasure12}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient12}}</span><span>{{cocktail1.drinks[0].strMeasure13}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient13}}</span><span>{{cocktail1.drinks[0].strMeasure14}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient14}}</span><span>{{cocktail1.drinks[0].strMeasure15}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail1.drinks[0].strIngredient15}}</span><span>{{cocktail1.drinks[0].strMeasure16}}</span></div>
                </div>
                <br>
                <div>
                  <p class="d-flex justify-content-center">
                    {{cocktail1.drinks[0].strInstructions}}
                  </p>
                </div>
              </div>
           </div>
           <div class="col-md-6">
            <div class="card mb-4 bg-white" *ngIf= "cocktail2">
                <div class="card-body text-center mt-2"><img src={{cocktail2.drinks[0].strDrinkThumb}} style="height: 225px; width: 100%; display: block;">
                  <div>
                    <h2>{{cocktail2.drinks[0].strDrink}}</h2>
                  </div>
                
                </div>
                <div class="stats mt-2">
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient1}}</span><span>{{cocktail2.drinks[0].strMeasure1}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient2}}</span><span>{{cocktail2.drinks[0].strMeasure2}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient3}}</span><span>{{cocktail2.drinks[0].strMeasure3}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient4}}</span><span>{{cocktail2.drinks[0].strMeasure4}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient5}}</span><span>{{cocktail2.drinks[0].strMeasure5}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient6}}</span><span>{{cocktail2.drinks[0].strMeasure6}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient7}}</span><span>{{cocktail2.drinks[0].strMeasure7}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient8}}</span><span>{{cocktail2.drinks[0].strMeasure8}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient9}}</span><span>{{cocktail2.drinks[0].strMeasure9}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient10}}</span><span>{{cocktail2.drinks[0].strMeasure10}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient11}}</span><span>{{cocktail2.drinks[0].strMeasure12}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient12}}</span><span>{{cocktail2.drinks[0].strMeasure13}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient13}}</span><span>{{cocktail2.drinks[0].strMeasure14}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient14}}</span><span>{{cocktail2.drinks[0].strMeasure15}}</span></div>
                  <div class="d-flex justify-content-between"><span>{{cocktail2.drinks[0].strIngredient15}}</span><span>{{cocktail2.drinks[0].strMeasure16}}</span></div>
                </div>
                <br>
                <div>
                  <p class="d-flex justify-content-center">
                    {{cocktail2.drinks[0].strInstructions}}
                  </p>
                </div>
              </div>
           </div>

       </div>
      </div>
    </div>
  </div>