<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="dropdown">
        <a class="navbar-brand" routerLink="" href="#">
            <img src="../../../assets/BarNav1.jpg" alt="" height="300" width="300" class="d-inline-block align-text-top">
            The Bar
        </a>
        <input type="text" placeholder="Search" id="searchbar">
        <button id="explore"   class="accordion" type="search" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            Explore
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul mdbDropdownMenu class="navbar-nav" aria-labelledby="dropdownMenuButton">
                <li class="nav-item">
                    <a class="nav-link" routerLink="cocktail">Cocktail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="ingredient">Ingredient</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
