<p>login works!</p>

<div class="container" id="fullMainConLogin">

  <div class="container" id="logincontainer">
    <div id="homeheader-row" class="row col-sm-12">
        <h1 id=myHeader>Login for full access</h1>
    </div>
    <br>
    <br>
    <!-- Login inputs here -->

    <div id="login-row" class="row col-sm-12">


        <div id="header">
            <h3 class="col-lg-12">Login</h3>
        </div>

        <div>
            <input id="username" type="text" placeholder="username" class="col-sm-4">
        </div>

        <div>
            <input id="password" type="password" placeholder="password" class="col-sm-4">
        </div>

        <div>
            <button id="loginButton" class="btn btn-success col-sm-4">Login</button>
        </div>



    </div>
</div>



</div>
